@import "~bootstrap/scss/bootstrap";
@import "./sass/variables";
@import "./sass/utils";
@import "./sass/type";
@import "./sass/anim";
@import "./sass/ui";

.App {
    background-color: $bg;
    height: 100vh;
    overflow: auto;

    h6 {
        color: $dark-1
    }

    .loading-container {
        justify-content: center;
        height: 100vh;
        align-items: center;

        .title {
            color: $dark-1;
            text-align: center;
            border-bottom: 1px solid $dark-1;
        }

        .loading-txt {
            text-align: center;
            font-size: $text-03;
            display: flex;
            align-items: center;
            justify-content: center
        }
    }
}

@import "./components/Card/card.scss";
@import "./components/Table/table.scss";



@import "./components/Button/button.scss";



@import "./components/Popup/popup.scss";



@import "./screens/Authentication/authentication.scss";



@import "./screens/Main/main.scss";