@import "../../sass/variables";

.button {
    background-color: $dark-2 !important;
    color: $dark-1 !important;
    border: none;
    border-radius: $border-radius;
    outline: none;
    transition: $transition;
    padding: $space-01 $space-04 !important;
    min-width: 150px;

    &:hover {
        box-shadow: 0 0.5em 0.5em -0.4em $shadow-color;
        transform: translateY(-0.25em);   
    }

    // If using icons
    svg,
    path {
        color: $dark-1 !important;
    }
}