@import "variables";

// FORM OVERRIDES
.form-control,
.form-control:focus {
    background-color: darken($dark-2, 10%);
    border: none;
    outline: none;
    color: #efefef;
}
.form-control:focus {
    outline: 3px solid $dark-1;
    box-shadow: none;
}
.form-control::placeholder {
    color: $dark-2 !important;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: $dark-2 !important;
}
.form-control::-moz-placeholder {
    color: $dark-2 !important;
}

