@import "../../sass/variables";

.main {
    .main-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .income-input {
        padding: 0;
        background-color: transparent;
        border-bottom: 2px solid $dark-1;
        border-radius: 0;
        max-width: 5rem;

        color: $success;
        font-size: 2.5rem;

        &:focus {
            outline: none;
        }
    }

    .income-text {
        color: $success;
    }

    .neutral-input {
        padding: 0;
        background-color: transparent;
        border-bottom: 2px solid $dark-1;
        border-radius: 0;
        max-width: 5rem;
        font-size: 2.5rem;

        &:focus {
            outline: none;
        }
    }

    .income-container::before {
        content: '+ ';
        color: $success;
        font-size: 2.5rem;
        margin-right: $space-01;
    }

    .total-bills-text {
        color: $danger;
    }

    .user-dropdown {
        background: transparent;
        border: none;
        outline: none;

        &:focus {
            background: transparent;
            border: none;
            outline: none;
        }
    }

    .totals-card {
        height: 90%;
    }
}